// Text
$text-dim-darker: #777;
$text-dim-dark: #888;
$text-dim: #999;
$text-dim-brighter: #9a9a9a;
$text-normal: #aaa;
$text-bright: #bbb;
$text-selection: #ddd;

// Backgrounds
$bg-base: #111;
$bg-very-dark: #141414;
$bg-darker: #181818;
$bg-dark: #222;
$bg-medium-darker: #242424;
$bg-medium-dark: #282828;
$bg-medium: #1a1a1a;
$bg-medium-bright: #2a2a2a;
$bg-medium-brighter: #2c2c2c;
$bg-bright: #333;
$bg-selection: #384D69;

// Borders
$border-darker: #282828;
$border-dark: #333;
$border-normal: #444;
$border-bright: #555;

// Shadows
$shadow-very-dark: #1a1a1a;
$shadow-darker: #1c1c1c;
$shadow-dark: #222;
$shadow-medium-dark: #282828;
$shadow-medium: #2a2a2a;
$shadow-medium-bright: #2c2c2c;
$shadow-bright: #333;
$shadow-brighter: #383838;
