<!-- Header -->
<header>
  <h1>Color Converter</h1>
</header>

<!-- Main Menu -->
<app-menu class="main-menu" [options]="MAIN_MENU_OPTIONS" />

<!-- Page Content -->
<main>
  <router-outlet />
</main>

<!-- Footer -->
<footer>
  <div class="row">Made with Angular</div>
  <div class="row">
    @for (link of FOOTER_LINKS; track $index) {
      <a [href]="link.url" target="_blank">{{link.text}}</a>
      @if (!$last) {
        <span>|</span>
      }
    }
  </div>
</footer>
